@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
}

.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #003946,#65eafc);
}

.inner-box{
    width: 400px;
    padding: 20px 40px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    /* background-color: rgba(255, 255, 255, 0.2); */
    background: linear-gradient(to top left,#ffffff,#ffffff33);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow:4px 4px 5px rgba(46, 49, 53, 0.634);
    z-index: 2;
}

.signup-header h1{
    font-size: 2.5rem;
    color: 212121;
}
.signup-header p{
    font-size: 0.9rem;
    color: #555;
}

.signup-body{
    margin: 20px 0;
}

.signup-body p{
    margin: 10px 0;
}

.signup-body p label{
    display: block;
    font-weight: bold;
}

.signup-body p input{
    width: 100%;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 500px;
    font-size: 1rem;
    margin-top: 4px;
}

/*or we can declare a new id that is defined, #submit{}*/
.signup-body p input[type="submit"]{
    border: none;
    /* background-image: linear-gradient(to right,red,black); */
    color: white;
    cursor: pointer;
    transition: 0.2s;
    background-size: 200% ;
    background-image: linear-gradient(to right, #3498db , #002236 );
}

.signup-body p input[type="submit"]:hover{
    background-position: -100% 0;
}

.signup-footer p{
    color: #555;
    text-align: center;
}

.signup-footer p a{
    display: block;
    color: #3498db;
    text-decoration: none;
}
.signup-footer p a:link{color: blue;}
.signup-footer p a:visited{color: #3498db;}
.signup-footer p a:hover{color: #6b00b8;}
.signup-footer p a:active{color: red;}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right,#ffffff22,#ffffffff);
    position: fixed;
}

.c1{
    top: 100px;
    left: 40px;
}
.c2{
    bottom: 200px;
    right: 50px;
}
